<h1 class="mt-4 mb-4">All our Flats</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <% @flats.each do |flat| %>
    <div class="col">
      <div class="card shadow-sm">
        <img src="<%=flat.image_url%>" class="img" alt="...">
        <div class="card-body bg-light">
          <h5 class="card-title"><%=flat.name%></h5>
          <p class="card-text"><%=flat.address%></p>
        </div>
        <div>
          <p class="pl-4 card-text bg-light"><i class="m-2 fas fa-user-friends"></i><%=flat.number_of_guests%><i class="m-2 fas fa-euro-sign"></i><%=flat.price_per_night%></p>
        </div>
        <div class="p-2 bg-white border-top d-flex">
          <%= link_to "More info", flat_path(flat), class: "m-2 link-primary text-decoration-none" %>
          <%= link_to "Edit", edit_flat_path(flat), class: "m-2 link-warning text-decoration-none" %>
          <%= link_to "Remove", flat_path(flat), method: :delete, data: { confirm: "Are you sure?" }, class: "m-2 link-danger text-decoration-none" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
